﻿
@{
    ViewBag.Title = "DailyReport";
}



<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 order-lg-1 order-xl-1">
            <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">

                <div class="kt-portlet__body">
                    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select id="vehicle" class="form-control">
                                        <option value=""></option>
                                        <option value="RTG">RTG</option>
                                        <option value="ITV">ITV</option>
                                        <option value="RS">RS</option>
                                        <option value="EH">EH</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select id="vehicleItem" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="kt_datepicker_1" readonly="" placeholder="Select date">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="d-inline-flex align-items-center w-100">
                                    <div class="form-group">
                                        <label></label>
                                        <button type="button" class="btn btn-primary" id="getreport">Görüntüle</button>
                                    </div>
                                    @*Excel butonu*@

                                    <div class="form-group">
                                        <label></label>
                                        <button type="button" class="btn btn-primary" id="getexcel">Excel</button>
                                    </div>
                                </div>
                                
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 order-lg-1 order-xl-1">
            <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">

                <div class="kt-portlet__body">
                    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <iframe width="100%" height="1024px" id="frm"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>var generalWEBUrl='@ViewBag.WebUrl'</script>
    <script src="~/Scripts/plugin/datepicker.js"></script>
    <script src="~/Scripts/dailyreport.js"></script>
    <script src="~/Scripts/dailyreport -excel.js"></script>
}
