﻿
@{
    ViewBag.Title = "Index";
}

@section styles{
<style>
    .mt-table table td span, .mt-table table th span {
        width: 150px !important
    }
</style>    
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 order-lg-1 order-xl-1">
            <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                
                <div class="kt-portlet__body">
                    <div class="col-sm-12">
                        <div class="kt-datatable kt-datatable-state kt-datatable--default" style="">

                        </div>
                    </div>
                </div>
                @*<div class="kt-portlet__body">
                        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" id="StateField">

                        </div>
                    </div>*@
                <div class="kt-portlet__body">
                    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                        <div class="accordion" id="accordionExample1">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                        RTG
                                    </div>
                                </div>
                                <div id="collapseOne1" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample1" style="">
                                    <div class="card-body">
                                        <div class="col-sm-12">
                                            
                                            <div class="mt-table" id="rtgTable" data-id="1">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                        ITV
                                    </div>
                                </div>
                                <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo1" data-parent="#accordionExample1">
                                    <div class="card-body">
                                        <div class="col-sm-12">
                                            <div class="mt-table" id="itvTable" data-id="2">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree1">
                                    <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                                        RS
                                    </div>
                                </div>
                                <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1" data-parent="#accordionExample1">
                                    <div class="card-body">
                                        <div class="col-sm-12">
                                            <div class="mt-table" id="rsTable" data-id="3">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="status-template">
    {{#States}}
    {{#rowCount}}
    <div class="row">
        {{#VehicleStates}}
        <div class="col-xl-3">
            <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label" title="{{VehicleCode}}">
                        <h3 class="kt-portlet__head-title">
                            {{VehicleName}}
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <a href="#" class="btn btn-label-brand btn-bold btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            İşlemler
                        </a>
                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(841px, 46px, 0px);">
                            <ul class="kt-nav">
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-drop"></i>
                                        <span class="kt-nav__link-text">Kullanıma Aç</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                        <span class="kt-nav__link-text">Kapat</span>
                                    </a>
                                </li>
                            </ul>
                            <!--end::Nav-->
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-widget14">
                        <div class="kt-widget14__content">
                            <span>Operatör:{{UserName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/VehicleStates}}
    </div>
    {{/rowCount}}
    {{/States}}

</script>

@section scripts{
    <script src="~/Scripts/Charts.js"></script>
    <script src="~/Scripts/admin-vehicle-states-user.js"></script>
    <script src="~/Scripts/admin-vehicle-states.js"></script>
    <script src="~/assets/js/pages/dashboard.js"></script>
    <script src="~/Scripts/admin-dashboard.js"></script>
}