﻿
@{
    ViewBag.Title = "Questions";
}

@section styles{
    <link href="~/Content/questions.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 order-lg-1 order-xl-1">
            <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Sorular
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="kt-input-icon kt-input-icon--left">
                                <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="kt-margin-b-10"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm" data-toggle="modal" data-target="#newQuestion">Yeni Soru Ekle</button>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table"></table>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-datatable" id="ajax_data"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newQuestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Soru</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Araç Tipi</label>
                                <select class="form-control kt-select2" id="VehicleType" name="VehicleType" multiple="multiple"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Kategori</label>
                                <select class="form-control" id="QuestionCategory">
                                    <option value="1">Kategori A</option>
                                    <option value="2">Kategori B</option>
                                    <option value="3">Kategori C</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Soru Grubu</label>
                                <select class="form-control kt-select2" id="GroupType">
                                    <option value="1">Vardiya Öncesi</option>
                                    <option value="2">Vardiya Sonrası</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="message-text" class="form-control-label">Soru:</label>
                                <textarea class="form-control" id="Text"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="QuestionAdd">Ekle</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editQuestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Soru Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="text" id="QuestionId" hidden/>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Araç Tipi</label>
                                <select class="form-control kt-select2" name="VehicleType" multiple="multiple"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Kategori</label>
                                <select class="form-control" name="Category">
                                    <option value="2">Kategori A</option>
                                    <option value="4">Kategori B</option>
                                    <option value="5">Kategori C</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Soru Grubu</label>
                                <select class="form-control kt-select2" name="GroupType">
                                    <option value="1">Vardiya Öncesi</option>
                                    <option value="2">Vardiya Sonrası</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="message-text" class="form-control-label">Soru:</label>
                                <textarea class="form-control" name="Text"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="QuestionEdit">Düzenle</button>
                <button type="button" class="btn btn-danger" id="Remove">Sil</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/helpers.js"></script>
    <script src="~/Scripts/admin-questions.js"></script>
}