﻿@{
    ViewBag.Title = "Vehicles";
}


<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 order-lg-1 order-xl-1">
            <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Araçlar
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="kt-input-icon kt-input-icon--left">
                                <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="kt-margin-b-10"></div>

                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm" data-toggle="modal" data-target="#newVehicle">Yeni Araç Ekle</button>
                        </div>
                    </div>
                    <div class="kt-datatable"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newVehicle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Araç</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Araç Tipi</label>
                                <select class="form-control" id="VehicleType">
                                    <option value="1">RTG</option>
                                    <option value="2">ITV</option>
                                    <option value="3">RS</option>
                                    <option value="4">EH</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Araç Adı:</label>
                                <input type="text" class="form-control" id="VehicleName">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Mac Adresi:</label>
                                <input type="text" class="form-control" id="MaccAddress">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">IP Adresi:</label>
                                <input type="text" class="form-control" id="IP">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Seri Numarası:</label>
                                <input type="text" class="form-control" id="SerialNumber">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Model:</label>
                                <input type="text" class="form-control" id="Model">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">ID:</label>
                                <input type="text" class="form-control" id="ID">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Açıklama:</label>
                                <input type="text" class="form-control" id="Description">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="VehicleAdd">Ekle</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/helpers.js"></script>
    <script src="~/Scripts/admin-vehicles.js"></script>
}