﻿@{
    ViewBag.Title = "Home Page";
}

@section styles{
    <link href="~/assets/css/pages/wizard/wizard-3.css" rel="stylesheet" />
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 order-lg-1 order-xl-1">
            <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <span id="survey-header-text"></span> kullanım anketi
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="row col-md-12">
                            <h3>Kullanıcı: <span id="CurrentUser"></span></h3>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                        <div class="row" id="surver-content"></div>

                        <hr />
                        @*<div class="row">
                            <div class="col-md-12">
                                <div id="kt_repeater_1">
                                    <div class="form-group form-group-last row" id="kt_repeater_1">
                                        <label class="col-lg-12 col-form-label font-weight-bold">Notlar:</label>
                                        <div data-repeater-list="" class="col-lg-12">
                                            <div data-repeater-item="" class="form-group row align-items-center">
                                                <div class="col-md-10">
                                                    <div class="kt-form__group--inline">
                                                        <div class="kt-form__label"></div>
                                                        <div class="kt-form__control">
                                                            <input type="text" class="form-control note-input" placeholder="Notunuzu buraya giriniz...">
                                                        </div>
                                                    </div>
                                                    <div class="d-md-none kt-margin-b-10"></div>
                                                </div>
                                                <div class="col-md-2">
                                                    <a href="javascript:;" data-repeater-delete="" class="btn-sm btn btn-label-danger btn-bold">
                                                        <i class="la la-trash-o"></i>
                                                        Sil
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-last row">
                                        <div class="col-lg-4">
                                            <a href="javascript:;" data-repeater-create="" class="btn btn-bold btn-sm btn-label-brand pull-left">
                                                <i class="la la-plus"></i> Yeni Not
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script id="surveritem-template" type="text/template, text/javasript">
    <div class="col-md-12">
        <div class="kt-grid kt-wizard-v3 kt-wizard-v3--white" id="kt_wizard_v3" data-ktwizard-state="first">
            <div class="kt-grid__item">
                <!--begin: Form Wizard Nav -->
                <div class="kt-wizard-v3__nav">
                    <div class="kt-wizard-v3__nav-items">
                        <!--doc: Replace A tag with SPAN tag to disable the step link click -->
                        {{#CategorizedModel}}
                        <div class="kt-wizard-v3__nav-item" data-ktwizard-type="step" data-ktwizard-state="{{ActiveClass}}">
                            <div class="kt-wizard-v3__nav-body">
                                <div class="kt-wizard-v3__nav-label">
                                    {{CategoryName}}
                                </div>
                                <div class="kt-wizard-v3__nav-bar"></div>
                            </div>
                        </div>
                        {{/CategorizedModel}}
                    </div>
                </div>
                <!--end: Form Wizard Nav -->
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v3__wrapper">
                <!--begin: Form Wizard Form-->
                <form class="kt-form" id="kt_form" novalidate="novalidate">
                    <!--begin: Form Wizard Step 1-->
                    {{#CategorizedModel}}
                    <div class="kt-wizard-v3__content" data-ktwizard-type="step-content" data-ktwizard-state="{{ActiveClass}}">
                        @*<div class="kt-heading kt-heading--md">Setup Your Current Location</div>*@
                        <div class="kt-form__section kt-form__section--first">
                            <div class="kt-wizard-v3__form">
                                <div class="kt-radio-list">
                                    {{#Questions}}
                                    <label class="d-inline-flex align-items-center align-self-center w-100 kt-option {{Class}}" data-questionid="{{QuestionId}}">
                                        <span class="kt-option__label d-flex">
                                            <span class="kt-option__head">
                                                <span class="kt-option__title font-weight-bold ">
                                                    {{QuestionText}}
                                                </span>
                                                <span class="kt-option__focus">
                                                </span>
                                            </span>
                                            <span class="kt-option__body">

                                            </span>
                                        </span>
                                        <div class="kt-radio-inline d-inline-flex align-items-center ml-auto">
                                            <label class="kt-radio mb-0">
                                                <input type="radio" name="radio-{{QuestionId}}" value="1" class="survey-item"> Evet
                                                <span></span>
                                            </label>
                                            <label class="kt-radio mb-0">
                                                <input type="radio" name="radio-{{QuestionId}}" value="0" class="survey-item"> Hayır
                                                <span></span>
                                            </label>
                                        </div>
                                    </label>
                                    {{/Questions}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/CategorizedModel}}
                    <!--end: Form Wizard Step 1-->
                    <!--begin: Form Actions -->
                    <div class="kt-form__actions">
                        <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
                            Geri
                        </button>
                        <button class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
                            Anketi Gönder ve Başla
                        </button>
                        <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
                            İleri
                        </button>
                    </div>
                    <!--end: Form Actions -->
                </form>
                <!--end: Form Wizard Form-->
            </div>
        </div>
    </div>
</script>
 

<!--begin::Modal-->
<div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <p>Tüm işaretlemeler yapılmıştır. Açıklama için aşağıdaki alanı kullanabilirsiniz</p>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">Açıklama:</label>
                        <textarea class="form-control note-input" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary" id="buttonComplated">Tamamla</button> 
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->

@section scripts{
    <script src="~/Scripts/vehicle-survey.js?v=@DateTime.Now.Ticks"></script>
}


