﻿@{
    ViewBag.Title = "Vehicles";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 order-lg-1 order-xl-1">
            <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Araçlar
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm" data-toggle="modal" data-target="#newVehicle">Yeni Araç Ekle</button>
                        </div>
                    </div>
                    <div class="kt-datatable"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newVehicle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Araç</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Araç Tipi</label>
                                <select class="form-control" name="VehicleType">
                                    <option value="RTG">RTG</option>
                                    <option value="ITV">ITV</option>
                                    <option value="RS">RS</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Araç Adı:</label>
                                <input type="text" class="form-control" id="VehicleName">
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="VehicleAdd">Ekle</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/helpers.js"></script>
    <script src="~/Scripts/admin-vehicles.js"></script>
}