﻿
@{
    Layout = null;
}


<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 4 & Angular 8
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />

    <title>Arıza Sayfası</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">        <!--end::Fonts -->
    <!--begin::Page Custom Styles(used by this page) -->
    <link href="/assets/css/pages/error/error-6.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <!--end::Layout Skins -->
    @*<link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />*@
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-aside--minimize kt-page--loading">

    <input type="hidden" id="macaddress" data-maccaddress="" />
    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--ver kt-grid--root kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v6" style="background-image: url(/assets/media/error/bg6.jpg);">
            <div class="kt-error_container">
                <div class="kt-error_subtitle kt-font-light">
                    <h1>Arıza/Bakım ...</h1>
                </div>
                <p class="kt-error_description kt-font-light">
                    Araç Üzerinde Çalışma Yapılıyor<br>
                </p>
                        <button class="btn btn-danger" type="button" onclick="window.location='/web/auth/login'">Giriş Ekranına Dön</button>
            </div>
        </div>

    </div>

    <!-- end:: Page -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = { "colors": { "state": { "brand": "#22b9ff", "light": "#ffffff", "dark": "#282a3c", "primary": "#5867dd", "success": "#34bfa3", "info": "#36a3f7", "warning": "#ffb822", "danger": "#fd3995" }, "base": { "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"], "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"] } } };
    </script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="/assets/vendors/general/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="/assets/js/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->

</body>
<!-- end::Body -->
</html>

@*<script src="~/Scripts/helpers.js"></script>*@

<script>

    $(function () {

        //Check();
        //setInterval(function () {
        //    Check();
        //}, 5000);

    });

    function Check() {
        var macAddress = $('#macaddress').val();

        $.ajax({
            url: 'http://10.202.149.33/Api/api/User/CheckFault',
            type: 'get',
            data: { macAddress: macAddress },
            success: function (response) {

                if (response.Code == 200) {
                    if (response.Data) {
                        var token = window.appBase.Helpers.GetCookie('Token');
                        if (token == "" || token == "null") {
                            KTApp.blockPage({
                                overlayColor: '#000000',
                                type: 'v2',
                                state: 'success',
                                message: 'Giriş sayfasına yönlendiriliyorsunuz...'
                            });

                            setTimeout(function () {
                                window.location = "/web/auth/login";
                            }, 4000);
                        }
                        else {
                            KTApp.blockPage({
                                overlayColor: '#000000',
                                type: 'v2',
                                state: 'success',
                                message: 'Devam eden oturumunuza yönlendiriliyorsunuz...'
                            });

                            setTimeout(function () {
                                window.location = "/home/detail?vehicle=run";
                            }, 4000);
                        }
                    }
                    else {
                        setTimeout(function () {
                            Check();
                        }, 5000)
                    }
                }
            },
            error: function (err) {
                console.log("ERROR")
            },
            statusCode: {
                400: function () {
                    fail;
                },
                500: function () { console.log("Server") }
            }

        });
    }
</script>