﻿
@{
    ViewBag.Title = "Users";
    string userRole = (string)ViewBag.userRole;

}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript">
    var role='@userRole';
    if (role != "da4b9237bacccdf19c0760cab7aec4a8359010b0")
{
     window.location.replace("/home/index");
}

</script>




<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 order-lg-1 order-xl-1">
            <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Kullanıcılar
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="kt-input-icon kt-input-icon--left">
                                <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="kt-margin-b-10"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm" data-toggle="modal" data-target="#newUser">Yeni Kullanıcı Ekle</button>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table"></table>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-datatable" id="ajax_data"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Kullanıcı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="UserId" hidden />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Kullanıcı Adı:</label>
                                <input type="text" class="form-control" id="FirstName">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Kullanıcı Soyadı:</label>
                                <input type="text" class="form-control" id="LastName">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Email:</label>
                                <input type="text" class="form-control" id="Email">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Şifre:</label>
                                <input type="text" class="form-control" id="Password">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="UserAdd">Ekle</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Kullanıcı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="text" id="UserId" hidden />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Kullanıcı Adı:</label>
                                <input type="text" class="form-control" id="FirstName">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Kullanıcı Soyadı:</label>
                                <input type="text" class="form-control" id="LastName">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Email:</label>
                                <input type="text" class="form-control" id="Email">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Şifre:</label>
                                <input type="text" class="form-control" id="Password">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="userEdit">Düzenle</button>
                <button type="button" class="btn btn-danger" id="Remove">Sil</button>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script src="~/Scripts/helpers.js"></script>
    <script src="~/Scripts/admin-user.js"></script>


}

