﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

            .tg td {
                font-family: Arial, sans-serif;
                font-size: 14px;
                padding: 10px 5px;
                border-style: solid;
                border-width: 1px;
                overflow: hidden;
                word-break: normal;
                border-color: black;
            }

            .tg th {
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                padding: 10px 5px;
                border-style: solid;
                border-width: 1px;
                overflow: hidden;
                word-break: normal;
                border-color: black;
            }

            .tg .tg-cly1 {
                text-align: left;
                vertical-align: middle
            }

            .tg .tg-baqh {
                text-align: center;
                vertical-align: top
            }

            .tg .tg-wa1i {
                font-weight: bold;
                text-align: center;
                vertical-align: middle
            }

            .tg .tg-yla0 {
                font-weight: bold;
                text-align: left;
                vertical-align: middle
            }

            .tg .tg-0lax {
                text-align: left;
                vertical-align: top
            }

        body {
            font-family: Arial;
        }

        table {
            font-family: Arial;
        }

        td {
            font-family: Arial;
        }
    </style>
</head>
<body>

    {{TableList}}


</body>
</html>