﻿<html>
<head>
    <style>
        .custom-table td {
            border: 1px solid;
            text-align: center;
            padding: 3px
        }

        .custom-table th {
            border: 1px solid;
            text-align: center;
            padding: 3px
        }

        body {
            font-family: Arial;
        }

        table {
            font-family: Arial;
        }

        td {
            font-family: Arial;
        }
    </style>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>Cihaz Grubu :</th>
                <th>{{VehicleType}}</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Tarih :</th>
                <th>{{Date}}</th>
            </tr>
        </table>

        {{AllTABLE}}

    </div>
</body>
</html>
